@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root{
  --blue : #1320DC;
  --text-gray : #77798C;
  --pink : #FB0A72;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1320DC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(19, 32, 220, 0.8);
}
body {
  font-size: 1.6rem !important;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif !important;
}
.top_arrow{
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 10px;
  bottom: 25px;
}
.top_arrow svg{
  height: 20px;
  width: 20px;
  fill: #1320DC;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
header{
  display: flex;
  flex-direction: column;
}
.header_top{
  height: 80px;
  border-bottom: 1px solid lightgray;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_top *{
  height: 40px;
}
.search{
  width: 280px;
  display: flex;
  justify-content: space-around;
  background-color: #f1f1f1;
  border-radius: 8px;
}
.search_button, .search_item{
  border: none;
  background: #f1f1f1;
  border-radius: 15px;
}
.search_button img{
  width: 15px;
  height: 15px;
}
.logo{
  display: flex;
  cursor: pointer;
}
.logo_item{
  margin: auto;
}

.liste_deroulante{
  border: none;
  cursor: pointer;
}

.connexion, .inscription{
  width: 85px;
  border-color: var(--blue);
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.inscription{
  background-color: #1320DC;
  color: white;
}
.connexion{
  color: #1320DC;
  background-color: white;
}
.inscription:hover{
  color: #1320DC;
  background-color: white;
}
.connexion:hover{
  background-color: #1320DC;
  color: white;
}
.search_icon, .menu{
  display: none;
}

.header_bottom{
  margin-top: 20px;
  align-self: center;
}
.header_bottom *{
  margin-left: 15px;
}

.header_top_right *{
  margin-right: 12px;
}
.links{
    text-decoration-line: none;
    cursor: pointer;
}
.panier{
  width: 60px;
  height: 60px;
  position: fixed;
  right: 0px;
  top : 200px;
  background-color: #0000cd;
  cursor: pointer;
}
.panier svg{
  width: 20px;
  height: 20px;
  fill: white;
  position: absolute;
  right: 20px;
  top: 20px ;
}
.panier .panier_items{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--pink);
  position: absolute;
  top : 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body_top{
  margin-top: 20px;
  background-image: url(icones/Groupe-45.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}
.body_top_left{
  width: 45%;
  position: absolute;
  top: 30%;
  left: 8%;
}
.title{
  font-size: 4rem;
  color: white;
  font-weight: bold;
  margin-bottom: 35px;
  font-weight: bold;
}
.contains{
  font-size: 2rem;
  color: white;
  margin-bottom: 35px;
}
.buy_button{
  color: white;
  background-color: var(--pink);
  border-radius: 10px;
  border: none;
  height: 45px;
  width: 40%;
  cursor: pointer;
}

.body_middle{
  height: 30vh;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-right: 100px;
  padding-left: 100px;
}
.article_parent{
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: none;
  position: absolute;
  top: 0px;
  transition: all .3s ease-in-out;
}
.man_article, .woman_article, .acc_article{
  width: 30%;
  height: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  position: relative;
}
.article_links{
  color: white;
  margin-left: 1.2rem;
}

.acc_article{
  background-image: url(images/xbanner-03.jpg);
}
.man_article{
  background-image: url(images/xbanner-02.jpg);
}
.woman_article{
  background-image: url(images/xbanner-01.jpg);
}
.article img{
  width: 100%;
  height: 100%;
}

.article p{
  margin: 1rem;
  color: var(--blue);
}
.article_parent:hover{
  background-color: rgba(0,0,255,0.3);
  color: white;
}
.body_bottom{
  display: flex;
}
.filtre{
  display: none;
}
.body_bottom_left{
  padding-left: 30px;
  width: 20%;
}
.new_article, .top_article{
  display: flex;
  margin-top: 15px;
  height: 40px;
  border-bottom: 1px solid var(--text-gray);
  cursor: pointer;
}
.new_article, .new_article p{
  color: #1320DC;
  position:sticky;
  top: 20px;
}
.top_article, .top_article p{
  color: #77798C;
  position:sticky;
  top: 70px;
}

.body_bottom_right{
  padding: 0 1% 1.2rem 0;
  width: 80%;
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
}

.jupe_volante{
    width: 24%;
    border-radius: 5px;
    background-color: white;
    margin-top: 1.2rem;
    margin-left: 1%;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.jupe_volante img{
    width: 100%;
}
.jupe_volante p{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}
.prix_article_solde{
    display: flex;
}
.buttons{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.button_left, .button_right{
    height: 4rem;
    cursor: pointer;
    transition: all ease-in-out .3s;
}
.button_left{
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    color: white;
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_right{
    background-color: white;
    border: 2px solid var(--blue);
    border-radius: 5px;
    color: var(--blue);
    width: 22.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_right:hover{
  background-color: blue;
  color: white;
  font-weight: bold;
}
.button_left:hover{
  background-color: white;
  color: #1320DC;
  font-weight: bold;
  border: 2px solid blue;
}
.button_left p, .button_right p{
    height: 40%;
}
.prix_article{
    font-weight: bold;
}
.solde_article{
    color: var(--text-gray);
}
.voir_plus_parent{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.voir_plus{
    background-color: white;
    border: 2px solid var(--blue);
    border-radius: 5px;
    height: 45%;
    width: 12%;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease-in-out .3s;
}
.voir_plus:hover{
  background-color: blue;
  color: white;
  font-weight: bold;
}
.voir_plus p{
    width: 40%;
}
footer{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
span{
  color: #1320DC;
}

@media screen and (max-width:575px){
  .links{
    display: none;
  }
  .search{
    display: none;
  }
  .liste_deroulante{
    display: none;
  }
  .header_bottom{
    display: none;
  }
  .header_top{
    height: 80px;
    border-bottom: none;
    padding: 0px 10px 0px 10px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    height: 25%;
  }
  .logo img{
    height: 100%;
  }
  .search_icon, .menu{
    width: 12px;
    height: 12px;
    display: inline-flex;
    margin: 0px 5px 0px 5px;
  }
  .connexion, .inscription{
    width: 70px;
    height: 80%;
  }
  .connexion{
    margin-right: 5px;
  }
  .inscription{
    margin-right: 25px;
  }
  .header_top_right{
    display: flex;
    align-items: center;
  }
  .body_top{
    margin-top: 0px;
    background-image: url(icones/Groupe-45.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    fill : red ;
    height: 60vh;
    width: 100%;
  }
  .body_top_left{
    height: 50%;
    width: 90%;
    position: absolute;
    top: 20%;
    left: 5%;
  }
  .title{
    font-size: 2.5rem;
  }
  .contains{
    font-size: 1.5rem;
  }
  .body_middle{
    height: 90vh;
    padding: 0px 5% 0px 5%;
    margin-top: 50px;
    margin-bottom: 0px;
    display: block;
  }
  .article_parent{
    height: 100%;
    width: 100%;
    background-color: none;
    position: absolute;
    top: 0px;
    transition: all .3s ease-in-out;
  }
  .man_article, .woman_article, .acc_article{
    width: 99%;
    height: 35%;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    position: relative;
  }
  .acc_article{
    background-image: url(images/xbanner-03.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .man_article{
    background-image: url(images/xbanner-02.jpg);
  }
  .woman_article{
    background-image: url(images/xbanner-01.jpg);
  }
  .article p{
    margin: 1rem;
    color: var(--blue);
  }
  .body_bottom{
    display: block;
    margin-top: 0px;
  }
  .filtre{
    display: flex;
    background-color: white;
    width: 120px;
    height: 60px;
    border-radius: 5px;
    margin: 0px;
    display: flex;
    justify-content: center;
    padding-right: 20px;
    align-items: center;
  }
  .filtre P{
    font-weight: bold;
  }
  .filtre svg{
    width: 40%;
    height: 40%;
  }
  .body_bottom_left{
    display: none;
  }
  .body_bottom_right{
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
    margin-top: 150px;
    width: 100%;
    background-color: #d3d3d3;
  }
  .jupe_volante{
    width: 98%;
    border-radius: 5px;
    background-color: white;
    margin: 5% 0px 0px 0px;
    padding: 0px 5% 5% 5%;
}
.jupe_volante img{
  height: 300px;
}
.voir_plus{
  width: 20%;
}
}